body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    text-align: justify;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.top-banner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
}

.half-width img {
    width: 80%;
}

.hireme-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.dream-big {
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#experience-section {
    display: flex;
    padding-left: 5%;
}

#fullstack-experience {
    width: 45%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid;
    border-image: linear-gradient(violet, orange);
    border-image-slice: 1;
}

#beginner-webdev {
    width: 45%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.final-section {
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
}